<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>OEE</span>

  <!-- <span class="example-spacer2"></span> -->
  
  <button mat-icon-button  aria-label="Example icon button with a menu icon" style="margin-left: 2%;">
    <mat-icon (click)="toggleDrawer()">menu</mat-icon>
  </button>

  <span class="example-spacer"></span>
  <!-- <button mat-raised-button color="warn" (click)="openDialog()">
      Add Machine
    </button> -->
 
</mat-toolbar>

